@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro';
    font-size: 15px;
}

h1, h2 {
    padding: 30px 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.2em;
}

h2 {
    font-size: 2.8em;
    line-height: 1em;
}

h3 {
    font-size: 1.5em;
    margin: 10px;
    text-align: center;
}

p {
    font-size: 1.25em;
    line-height: 1.5em;
}

/***NAV BAR***/

nav {
    background-color: #C12127;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 10px;
    height: 35px;
}

nav a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
}

.top-links li {
    display: inline-block;
    margin: 0 10px;
}

.top-left {
    float: left;
    margin-left: 20px;
}

/***SEARCH BAR***/

.logo-box {
    float: left;
    width: 10%;
    padding: 10px 1% 10px 2%;
}

.search-container-img-npm {
    width: 100%;
}

.search-box {
    float: left;
    width: 70%;
    padding: 10px 1% 10px 1%;
}

.search-box input {
    border: white;
    background-color: rgb(31, 82, 111);
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 15px;
}

.login-box {
    float: left;
    width: 10%;
    padding: 10px 2% 10px 3%;
}

.login-box a {
    text-decoration: none;
    color: white;
}

.login-container {
    float: left;
    padding: 15px 0;
    width: 80%;
}

.login-image {
    width: 20%;
    padding: 2px 0px;
    float: left;
}

.search-container-img-bear {
    width: 40px;
}

/***HEADER***/

.header {
    background-color: rgb(32, 101, 136);
    background-image: url("images/city-scape.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: white;
}

.header .text-building {
    margin: 0 17%;
    /*margin: 0% 5% 5% 17%;*/
    width: 30%;
}

/***COLLABORATION SECTION***/

.center-img {
    margin: 60px auto;
    width: 950px;
    overflow: auto;
}

.dark-background {
    background-color: rgb(39, 53, 71);
    color: white;
    overflow: auto;
}

.collaboration img {
    width: 50%;
    float: left;
}

.collaboration img {
    width: 45%;
    float: left;
    margin-right: 5%;
}

.collaboration .text-collaboration {
    float: right;
    width: 45%;
    margin-left: 5%;
}

.text-collaboration li {
    font-size: 1.25em;
    line-height: 2em;
    margin-left: 25px;
}

.collaboration a {
    text-decoration: none;
    color: white;
}

/***NPM SECTION***/

.npm-section {
    background-image: url("images/forklift.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: auto;
}

.container-npm {
    width: 950px;
    margin: 130px auto;
}

.text-npm {
    width: 45%;
}

/***PACKAGES SECTION***/

.packages-text {
    width: 950px;
    margin: 30px auto;
    text-align: center;
}

.packages-text h2 {
    color: rgb(83, 88, 98);
}

.packages-text p {
    color: rgb(135, 145, 156);
}

.service-box {
    width: 950px;
    text-align: center;
    margin: 60px auto;
    overflow: auto;
}

.service-box a {
    text-decoration: none;
    color: rgb(208, 74, 73)
}

.col {
    float: left;
}

.col-3 {
    width: 30%;
}

.col-middle {
    margin: 0 5%;
}

.clearfix {
    clear: both;
}

/***BUTTONS***/

.button {
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 1em;
    letter-spacing: 0.3px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 150px;
    margin: 10px 0 0 0;
    padding: 10px 20px 10px 20px;
    border: 2px black solid 0.2;
    border-radius: 50px;
}

.red-button {
    background-color: rgb(203, 56, 55);
}

.yellow-button {
    background-color: rgb(240, 146, 51);
    float: left;
}

.blue-button {
    background-color: rgb(49, 68, 88);
}