@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: 300;
  }

  h1, h2 {
    font-weight: bold;
    padding: 8% 0;
  }

  h1 {
      font-size: 4em;
      line-height: 1.2em;
  }

  h2 {
      font-size: 3em;
      line-height: 1em;
  }

  h3 {
      font-size: 2em;
      text-align: center;
  }

  p {
      font-size: 1.25em;
      line-height: 1.5em;
  }

  /***NAV BAR***/

  nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 5px;
    height: 35px;
    
  }
  
  nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }

  .top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
  }
  
  .top-links li {
    display: inline-block;
    margin: 0 10px;
  }

  .top-left{
      float: left;
      margin-left: 20px;
  }


  /***SEARCH BAR***/
  .search-container-img-npm {
      width: 80px;
      margin: 0 7px;
  }

  .search-container-img-bear {
    width: 40px;
    margin: 1px auto;
    
  }

  .search-container a {
      text-decoration: none;
      color: white;
  }

  .search-container input {
    border: white;
    background-color: rgb(31, 82, 111);
    color: white;
    font-size: 20px;
    width: 80%;
    padding: 15px;
    margin: 0 5px;
  }

  /***HEADER***/

  .header {
      background-color:rgb(32, 101, 136);
      background-image: url("images/city-scape.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      height: 600px;
      color:white;
  }

  .header .text-building {
      
      margin: 0 17%;
      /*margin: 0% 5% 5% 17%;*/
      width: 30%;
      
  }



  /***COLLABORATION SECTION***/

  .center-img {
      margin: 0 auto;
      padding: 10%;
  }

  .dark-background {
      background-color: rgb(39, 53, 71);
      color: white;
      height: 600px;
  }

  .collaboration img{
      width: 450px;
      float: left;
  }

  .collaboration a {
      text-decoration: none;
      color: white;
  }

  .text-collaboration li {
    font-size: 1.25em;
    line-height: 3em;
  }

  .text-collaboration {
      float: right;
      height: 100px;
      width: 40%; 
  }
/***NPM SECTION***/

  .npm-section {
      background-image: url("images/forklift.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      height: 500px;
      position: relative;
  }

  .text-npm{
      position: absolute;
      top: 20%;
      left: 15%;
      width: 30%;
      /*margin: 8% 5% 5% 10%;*/
      text-align: left;
  }

  /***PACKAGES SECTION***/
  .packages-text {
    padding: 3%;
    text-align: center;
    line-height: 5em;
  }

  .packages-text h2 {
    color: rgb(83, 88, 98);
  }

  .packages-text p {
      color: rgb(135, 145, 156);
  }

  .col {
    float: left;
  }
  
  .col-3 {
    width: 30%;
  }
  
  .col-middle {
    margin: 0 5%;
  } 

  .service-box {
    text-align: center;
    padding: 2%;
  }

  .service-box a {
    text-decoration: none;
    color: rgb(208, 74, 73)
  }

  .clearfix {
      clear: both;
  }



  /***BUTTONS***/
  .button {
    color: white;
    font-family: 'Source Sans Pro';
    font-size:1em;
    letter-spacing:0.3px; 
    text-align: center;
    text-decoration:none;
    display: block;
    width: 150px;
    margin: 10px auto 0 auto;
    padding: 2px;
    border: 2px black solid 0.2;
    border-radius: 50px;
    
  }

  .red-button {
      background-color: rgb(203, 56, 55);
      
  } 

  .yellow-button {
      background-color: rgb(240, 146, 51);
      float: left;
  }

  .blue-button {
      background-color: rgb(49, 68, 88);
      float: left
  }